name: Generate Report

# Runs once per month
on:
  schedule:
    - cron: "0 0 1 * *"


jobs:
  run:
    runs-on: ubuntu-latest
    env:
        GITHUB_USERNAME: ${{ vars.GITHUB_USERNAME }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - run: go run cmd/main.go
